/* Write your custom CSS here */

div.user-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 100%;
    background: #22A7F0;
    line-height: 59px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: tahoma;
}


@media only screen and (max-width: 430px) {
    .action-btn button {
        font-size: 7px;
    }
}
